<div class="pageHead">
  <header class="eventsHeader">
    Upcoming Freetups:
  </header>
</div>

<ul id="eventsList">
<% @events.each do |event| %>
  <li>
    <div class="groupEvent">
      <a href="http://www.meetup.com/<%= event.group_slug %>"><p class="groupName"><%= event.group %></p></a>
      <a href="<%= event.link %>"><p class="eventName"><%= event.name %></p></a>
    </div>
    <div class="dateTime">
      <span><%= event.date_time %></span>
    </div>
    <!-- <div class="eventDescription">
      <%=raw event.description %>
    </div> -->
  </li>
<% end %>
</ul>
