<div class="pageHead">
  <%= form_tag("/meetup_requests", method: "POST") do %>
    <%= select_tag(:topic,
      options_for_select([
        ['C, C++, C#','c'],
        ['iOS','ios'],
        ['Java','java'],
        ['Javascript','javascript'],
        ['PHP','php'],
        ['Python','python'],
        ['Ruby','ruby'],
        ['SQL','sql'],
      ]),
      :include_blank => "Language"
    ) %>
    <%= text_field_tag(:zip, nil, maxlength: 5, placeholder: 'ZIP Code') %>
    <%= submit_tag("Freetup!") %>
  <% end %>
</div>
<div>
  <%= image_tag "houses_red.svg" %>
</div>


<!-- <%= image_tag "Freetup.png" %> -->
<!-- <img src="/images/houses_red.svg" alt="hero"> -->
